.contact__link {
  @include container(flex, center, center);
  text-decoration: none;
  @include font("Roboto", 14px, normal, 500, 16px, 0.02em);

  @include for-size(desktop) {
    @include container(flex, flex-start, flex-start);
    @include font("Roboto", 14px, normal, 500, 16px, 0.02em);
  }

  &:hover {
    color: $blue-link;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .page-header__mail-icon,
  &:hover .page-header__phone-icon {
    fill: $blue-link;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
