.logo__web {
  @include font("Raleway", 24px, normal, 700, 28px, 0.03em);
  color: $blue-link;
  text-decoration: none;
  text-align: center;

  @include for-size(mobile-only) {
    @include font("Raleway", 20px, normal, 700, 22px, 0.03em);
    text-align: left;
  }
  @include for-size(desktop) {
    @include font("Raleway", 26px, normal, 700, 31px, 0.03em);
    text-align: left;
  }
}
