.menu {
  display: flex;

  background-color: white;

  @include for-size(mobile-plus) {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    height: 453px;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 100%;
    z-index: 5;
    transition: 1s linear;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

    &.is-open {
      display: flex;
      flex-direction: column;
    }
  }

  &__icons {
    width: 20px;
    height: 20px;

    &:hover {
      fill: $blue-link;
    }
  }

  &__button {
    @include container(flex, center, center);
    width: 40px;
    height: 40px;

    border: none;
    background-color: transparent;
    display: none;

    & .menu__icon-cross {
      display: none;
    }

    &.is-open .menu__icon-cross {
      display: block;
    }

    &.is-open .menu__icon-menu {
      display: none;
    }

    @include for-size(mobile-plus) {
      display: block;
    }
  }
}
