body {
  background-color: $white;
  @include font("Roboto", 14px, normal, 400, 16px, 0.03em);
  color: $grey-text;
  overflow-x: hidden;
}
h1,
h2,
h3,
ul,
p,
b {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
textarea {
  resize: none;
  outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(mobile-only) {
    width: 320px;
  }
  @include for-size(mobile) {
    width: 480px;
  }
  @include for-size(tablet) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.flex {
  display: flex;
}
