$black: #000000;
$black-heading: #212121;
$grey-text: #757575;
$grey-icon: #afb1b8;
$blue-link: #2196f3;
$white: #ffffff;
$white-link: rgba(255, 255, 255, 0.6);
$white-icon: rgba(255, 255, 255, 0.1);
$black-background: rgba(0, 0, 0, 0.2);
$black-section: #2f303a;
$white-button: #f5f4fa;
$light-grey-card: #eeeeee;
