.advantage {
  &__header {
    display: none;
  }

  &__list {
    list-style: none;
    @include container(flex, center, center);
    flex-wrap: wrap;
  }

  &__item {
    @include for-size(mobile) {
      width: 100%;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include for-size(tablet) {
      width: calc((100% - 30px * 1) / 2);
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(n + 3) {
        margin-bottom: 0;
      }
    }
    @include for-size(desktop) {
      width: calc((100% - 30px * 3) / 4);
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__container-icon {
    @include container(flex, center, center);
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: $white-button;

    @include for-size(mobile) {
      width: 450px;
    }
    @include for-size(tablet) {
      width: 354px;
    }
    @include for-size(desktop) {
      width: 270px;
    }
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__heading {
    margin-bottom: 10px;
    @include font("Roboto", 14px, normal, 700, 16px, 0.03em);
    color: $black-heading;
    text-transform: uppercase;
  }

  &__description {
    @include font("Roboto", 14px, normal, 400, 24px, 0.03em);
  }
}
