.client {
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  &__item {
    width: calc((100% - 30px * 5) / 6);
    margin-right: 30px;

    &:nth-child(6n) {
      margin-right: 0;
    }
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid $grey-icon;
    border-radius: 4px;

    &:hover {
      border: 1px solid $blue-link;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .client__icon {
      fill: $blue-link;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__icon {
    fill: $grey-icon;
  }
}
