.hero {
  display: block;
  width: 100%;
  background-image: url(../images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include for-size("mobile") {
    height: 400px;
  }
  @include for-size("tablet") {
    height: 400px;
  }
  @include for-size("desktop") {
    height: 600px;
  }

  &__overlay {
    width: 100%;
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    );

    @include for-size(mobile) {
      height: 400px;
    }
    @include for-size(tablet) {
      height: 400px;
    }
    @include for-size(desktop) {
      height: 600px;
    }
  }
  &__list {
    display: block;
    margin: 0 auto;
    list-style: none;

    @include for-size(mobile) {
      padding-top: 118px;
    }
    @include for-size(tablet) {
      padding-top: 118px;
    }
    @include for-size(desktop) {
      padding-top: 200px;
    }
  }
  &__item {
    display: block;
  }
  &__header {
    margin-bottom: 30px;
    color: $white;
    text-align: center;
    text-transform: uppercase;

    @include for-size(mobile) {
      @include font("Roboto", 16px, normal, 900, 30px, 0.06em);
    }
    @include for-size(tablet) {
      @include font("Roboto", 26px, normal, 900, 42px, 0.06em);
    }
    @include for-size(desktop) {
      @include font("Roboto", 44px, normal, 900, 60px, 0.06em);
    }
  }

  &__order {
    width: 200px;
    height: 50px;
    padding: 10px 31px;

    &:hover {
      background-color: #188ce8;
    }
  }
}
