.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $black-section;

  @media screen and (max-width: 1279px) {
    text-align: center;
  }

  @include for-size(tablet) {
    display: flex;
  }

  &__container {
    @include for-size(tablet) {
      @include container(flex, space-between, center);
      flex-wrap: wrap;
    }

    @include for-size(desktop) {
      @include container(flex, space-between, flex-start);
    }
  }

  &__widget:not(:last-child) {
    margin-bottom: 60px;

    @include for-size(tablet) {
      width: 50%;
    }

    @include for-size(desktop) {
      margin-bottom: 0;
      width: calc((50% - 45px) / 2);
    }
  }

  &__widget:last-child {
    width: 100%;

    @include for-size(desktop) {
      width: calc(50% - 15px);
    }
  }

  .position {
    @include for-size(desktop) {
      @include container(flex, flex-start, center);
    }
  }

  &__title {
    @include font("Roboto", 14px, normal, 700, 16px, 0.03em);
    color: $white;
    text-transform: uppercase;
    margin-top: 0px;
    @include for-size(desktop) {
      margin-top: 10px;
    }
  }

  .address {
    margin-top: 20px;
    @include font("Roboto", 14px, normal, 400, 24px, 0.03em);
    color: $white;

    &__item {
      margin-bottom: 9px;
    }
  }
}
