.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__header {
    display: block;
    padding-bottom: 30px;

    @include font("Roboto", 28px, normal, 700, 33px, 0.03em);
    color: $black-heading;
    text-align: center;

    @include for-size(desktop) {
      padding-bottom: 50px;
      @include font("Roboto", 36px, normal, 700, 42px, 0.03em);
    }
  }
}
